{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 style="padding-top: 100px;"></h1>
    <style>
        .btn{
	transition: all .5s ease;
	width: 50%;
	border-radius: 30px;
	color:#6AD1DD;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #6AD1DD;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #6AD1DD;
	color:#fff;
}
    </style>
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <div class="row" style="justify-content: center;">
            <input type="submit" value="Submit" class="btn">
        </div>
    </form>
{% endblock %}