{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h1 style="padding-top: 100px;"></h1>
<link rel="stylesheet" href="{% static 'css/accounts/employer_login.css' %}">

<!-- employer login  -->
<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <h4 class="company_title"><img src="{% static 'images/jobhub.png' %}" alt="Logo" height="150" width="150"></h4>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
                <div class="row">
                    <h2 style="color: #A1D36E;">Log In</h2>
                </div>
                <div class="row">
                    <form control="" class="form-group" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <input type="email" name="email" id="email" class="form__input" placeholder="Email Address">
                        </div>
                        <div class="row">
                            <input type="password" name="password" id="password" class="form__input" placeholder="Password">
                        </div>
                        <div class="row">
                            <input type="checkbox" name="remember_me" id="remember_me" class="">
                            <label for="remember_me">Remember Me!</label>
                        </div>
                        <div class="row" style="justify-content: center;">
                            <input type="submit" value="Submit" class="btn">
                        </div>
                    </form>
                </div>
                <div class="row">
                    <p>Don't have an account? <a href="{% url 'employer_register' %}">Register Here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}