.row .col-xl button i{
	padding-left: 5px;
}

.row .col-lg-4{
	
	padding: 10px;
	 
}

.row .col-lg-4 .category{
    background-color: #fffff0;
    box-shadow:  0 0 10px  rgba(0,0,0,0.3);
    padding: 10px;
    margin-bottom: 35px;
}

.row .col-lg-4 .category a:hover{
	color: black;
}

.row .col-lg-4 .category h3{
	color: #999da0;
	padding: 15px;
}

.row .col-lg-4 .category h3 i{
	padding-right: 4px;
}

.row .col-lg-4 .category .form-check{
	color: #999da0;
	padding-left: 34px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

.row .col-lg-4 .category .form-check label:hover{
	color: black;
}


.row .col-lg-4 .category .moreDetail{
	color: #999da0;
	padding: 15px;
}

.row .col-lg-4 .employementType{
	margin-top: 20px;
    background-color: #fffff0;
    box-shadow:  0 0 10px  rgba(0,0,0,0.3);
    padding: 10px;
    margin-bottom: 35px;
}

.row .col-lg-4 .employementType h3{
	color: #999da0;
	padding: 15px;
}

.row .col-lg-4 .employementType h3 i{
	padding-right: 4px;
}

.row .col-lg-4 .employementType a{
	color: #999da0;
	text-decoration: none;
	padding: 15px;
}

.row .col-lg-4 .employementType a:hover{
	color: black;
}

















.row .col-lg-4 h2{
	text-align: center;
	color: #999da0;
}

.row .col-lg-4 h2 i{
	padding-right: 5px;
}

.row .col-lg-4 .jobInfo{
	margin-bottom: 35px;
    background-color: #fffff0;
    box-shadow:  0 0 10px  rgba(0,0,0,0.3);
    padding: 10px;

}


.row .col-lg-4 .jobInfo .row .col-sm-8{
	padding-top: 10px;
	padding-left: 30px;
}




.row .col-lg-4 .jobInfo .row a{
	font-size: 1.5rem;
	text-decoration: none;
	color: #399997;
}





.row .col-lg-4 .moreJobInfo{
	margin-bottom: 35px;
    background-color: #fffff0;
    box-shadow:  0 0 10px  rgba(0,0,0,0.3);
    padding: 10px;
}


.row .col-lg-4 .moreJobInfo .row i{
	text-align: center;
	color: #399997;
	font-size: 2rem;
	padding-left: 173px;



}












.row .col-lg-4 .nearestJobVacancy{
    background-color: #fffff0;
    box-shadow:  0 0 10px  rgba(0,0,0,0.3);
    padding: 10px;
    margin-bottom: 35px;
}

.row .col-lg-4 .nearestJobVacancy h3{
	color: #999da0;
	padding: 15px;
}

.row .col-lg-4 .nearestJobVacancy h3 i{
	padding-right: 4px;
}

.row .col-lg-4 .nearestJobVacancy a{
	text-decoration: none;
	color: #999da0;
}

.row .col-lg-4 .nearestJobVacancy a:hover{
	color: black;
}


.row .col-lg-4 .categorizedBySalary{
	background-color: #fffff0;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	padding: 10px; 
}

.row .col-lg-4 .categorizedBySalary h3{
	color: #999da0;
	padding: 15px;
}

.row .col-lg-4 .categorizedBySalary h3 i{
	padding-right: 4px;
}

.row .col-lg-4 .categorizedBySalary .salaryRadioBtn{
	padding-left: 15px;
	padding-top: 4px;
	color: #999da0;
}

.row .col-lg-4 .categorizedBySalary .salaryRadioBtn label:hover{
	color: black;
}
