{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 style="padding-top: 100px;"></h1>
<link rel="stylesheet" href="{% static 'css/profile/employer_profile.css' %}">
<div class="jumbotron">

</div>
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{user.employer.employer_profile.image.url}}" alt="profile picture" height="100" width="100">
        <div class="media-body">
            <h2 class="account-heading">{{user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <!-- form -->
</div>
<hr>
{% endblock %}